.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
}

.smurfs{
  text-decoration:;
  color: black;
  font-size: 20px;
}
